node_modules
**/node_modules
bower_components
**/bower_components
logs
*.log
**/*.log
npm-debug.log
.npm
nohup_*.out
barn
**/barn
debug
dicom2_db  
*.tar.gz  
*.tar
*.zip
mongoDB_queries.txt
.vscode
.idea
